@import '../variables/variables';

.inside {
	padding: var(--standart-section-top-padding) var(--standart-side-padding);
	background-color: var(--grey-bg);
}

.inside__wrap {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, min-content);
	gap: 20px;
}

.inside__title {
	color: var(--main-text-color);
}

.inside__slogan {
	color: var(--main-text-color);
}

.inside__slider {
	padding-top: 50px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.inside__slider-swiper {
	width: 100%;
	height: 100%;
}

.house-inside {
	display: grid;
	grid-column-gap: 40px;
	grid-template-columns: 1fr 1fr;

	@media (max-width: $tablet-width) {
		grid-row-gap: 20px;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, min-content);
	}
}

.inside__3d-title {
	display: grid;
	align-items: center;
	grid-column-gap: 30px;
	grid-template-columns: max-content 1fr;
	color: var(--main-text-color);

	&::after {
		content: '';
		width: 100%;
		height: 2px;
		background-color: var(--main-text-color);
	}
}

.house-inside__figure {
	display: flex;
	width: 100%;
	height: min-content;
}

.house-inside__image {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.house-inside__floorplan {
	display: grid;
	grid-row-gap: 20px;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
}

.house-inside__property {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	@media (max-width: $mobile-width) {
		justify-items: center;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
	}
}

.house-inside__property-title {
	grid-row: 1;
	font-weight: 500;
	font-size: 20px;
	color: var(--main-text-color);

	& > span {
		position: relative;
		display: flex;
		width: max-content;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 1px;
			background-color: var(--main-text-color);
		}
	}

	@media (max-width: $mobile-width) {
		grid-row: auto;
		width: 100%;

		& > span {
			justify-content: center;
			width: 100%;
		}
	}
}

.house-inside__property-info {
	grid-row: 2;
	font-weight: 500;
	font-size: 24px;
	color: var(--main-text-color);

	@media (max-width: $mobile-width) {
		grid-row: auto;
	}
}
