@import '../variables/variables';

.layout {
	display: grid;
	grid-template-areas:
	'info imageone'
	'imagetwo data';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, min-content);
	padding: var(--standart-section-top-padding) var(--standart-side-padding);
	width: 100%;
	height: 100%;
	background-color: var(--bg);
	gap: 20px;

	@media (max-width: $tablet-width) {
		grid-template-areas:
		'info'
		'imageone'
		'data'
		'imagetwo';
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, min-content);
	}
}

.layout__info-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
}

.layout__title {
	grid-area: title;
	color: var(--main-text-color);
}

.layout__slogan {
	align-self: start;
	grid-area: slogan;
	text-align: start;
	color: var(--main-text-color);
}

.layout__info {
	grid-area: info;
	color: var(--main-text-color);
}

.layout__list {
	display: grid;
	grid-area: data;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 30px;
}

.layout__list-item {
	position: relative;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr max-content 1fr;
	padding-left: 40px;
	gap: 40px;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		height: 2px;
		background-color: var(--main-color);
		transform: translateY(-50%);

		@media (max-width: $mobile-width) {
			display: none;
		}
	}

	&:first-child {
		&::before {
			right: 0;
			grid-column: 3/-1;
			width: 100%;
		}

		& > .layout__list-title {
			grid-column: 2/3;
		}
	}

	&:last-child {
		&::before {
			right: 0;
			grid-column: 2/-1;
			width: 100%;
		}

		& > .layout__list-title {
			grid-column: 1/2;
		}
	}

	&:nth-child(2) {
		&::before {
			right: 0;
			grid-column: 1/2;
			width: 100%;
		}

		& > .layout__list-title {
			grid-column: 3/3;
		}
	}

	@media (max-width: $mobile-width) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding-left: 0;
		width: 100%;
	}
}

.layout__list-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--basci-font);
	font-weight: 500;
	font-size: 30px;
	color: var(--main-text-color);

	& > span {
		display: flex;
		font-family: var(--basci-font);
		font-weight: 500;
		font-size: 70px;
		white-space: nowrap;
		color: var(--main-color);
	}

	@media (max-width: $mobile-width) {
		font-size: 20px;

		& > span {
			font-size: 50px;
		}
	}
}

.layout__image {
	width: 100%;
	height: 100%;
	object-fit: cover;

	&:first-child {
		grid-area: imageone;
	}

	&:last-child {
		grid-area: imagetwo;
	}

	@media (max-width: $tablet-width) {
		max-height: 200px;
	}
}
