@import '../variables/variables';

.parallax {
	position: relative;
	min-height: 500px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	object-fit: cover;

	&--one {
		background-image: url('../images/banner.jpg');
	}

	&--two {
		background-image: url('../images/parallax-2.jpg');
	}

	@media (max-width: $mobile-width) {
		min-height: 300px;
	}
}
