@import '../variables/variables';

.section-title {
	font-family: var(--basci-font);
	font-weight: var(--section-title-first-child-weight);
	font-size: var(--section-title-first-child-size);
	white-space: nowrap;
	color: var(--main-text-color);

	@media (max-width: $tablet-width) {
		font-weight: var(--section-tablet-title-first-child-weight);
		font-size: var(--section-tablet-title-first-child-size);
	}

	@media (max-width: $mobile-width) {
		font-weight: var(--section-mobile-title-first-child-weight);
		font-size: var(--section-mobile-title-first-child-size);
	}
}

.section-double-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-family: var(--basci-font);
	color: var(--main-text-color);

	& > span:first-child {
		font-weight: var(--section-title-first-child-weight);
		font-size: var(--section-title-first-child-size);

		@media (max-width: $tablet-width) {
			font-weight: var(--section-tablet-title-first-child-weight);
			font-size: var(--section-tablet-title-first-child-size);
		}

		@media (max-width: $mobile-width) {
			font-weight: var(--section-mobile-title-first-child-weight);
			font-size: var(--section-mobile-title-first-child-size);
		}
	}

	& > span:last-child {
		font-weight: var(--section-title-second-child-weight);
		font-size: var(--section-title-second-child-size);

		@media (max-width: $tablet-width) {
			font-weight: var(--section-tablet-title-second-child-weight);
			font-size: var(--section-tablet-title-second-child-size);
		}

		@media (max-width: $mobile-width) {
			font-weight: var(--section-mobile-title-second-child-weight);
			font-size: var(--section-mobile-title-second-child-size);
		}
	}
}

.general-text {
	font-family: var(--basci-font);
	font-weight: var(--standart-font-weight);
	font-size: var(--standart-font-size);
	color: var(--main-text-color);
}
