@import '../../variables/variables';

.about-us {
	background-color: var(--bg);
	padding: var(--standart-section-top-padding) var(--standart-side-padding);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;

	@media (max-width: $mobile-width) {
		grid-template-columns: 1fr;
	}
}

.about-us__wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
}

.about-us__title {
	color: var(--main-text-color);
}

.about-us__slogan {
	color: var(--main-text-color);
}

.about-us__logo-link {
	/* for align logo in left border of section */
	transform: translateX(-12px);
}

.about-us__logo {
	width: 200px;
	height: 50px;
	object-fit: cover;
}

.about-us__info {
	color: var(--main-text-color);
}

.about-us__full-link {
	color: var(--main-color);
	text-decoration: none;
}
