@import '../variables/variables';

.typography-big-title {
	font-family: var(--basci-font);
	font-weight: var(--typography-big-title-weight);
	font-size: var(--typography-big-title-size);

	@media (max-width: $mobile-width) {
		font-weight: var(--typography-mobile-big-title-weight);
		font-size: var(--typography-mobile-big-title-size);
	}
}

.typography-medium-title {
	font-family: var(--basci-font);
	font-weight: var(--typography-medium-title-weight);
	font-size: var(--typography-medium-title-size);

	@media (max-width: $mobile-width) {
		font-weight: var(--typography-mobile-medium-title-weight);
		font-size: var(--typography-mobile-medium-title-size);
	}
}

.typography-smal-title {
	font-family: var(--basci-font);
	font-weight: var(--typography-smal-title-weight);
	font-size: var(--typography-smal-title-size);

	@media (max-width: $mobile-width) {
		font-weight: var(--typography-mobile-smal-title-weight);
		font-size: var(--typography-mobile-smal-title-size);
	}
}

.typography-x-smal-title {
	font-family: var(--basci-font);
	font-weight: var(--typography-xsmal-title-weight);
	font-size: var(--typography-xsmal-title-size);
}

.typography-section-title {
	letter-spacing: 3px;
	text-transform: uppercase;
}

.typography-big-text {
	font-family: var(--basci-font);
	font-weight: var(--typography-big-text-weight);
	font-size: var(--typography-big-text-size);
}

.typography-primary-text {
	font-family: var(--basci-font);
	font-weight: var(--typography-primary-text-weight);
	font-size: var(--typography-primary-text-size);
	color: var(--text-primary);
}

.typography-secondary-text {
	font-family: var(--basci-font);
	font-weight: var(--typography-secondary-text-weight);
	font-size: var(--typography-secondary-text-size);
	color: var(--text-secondary);
}
