/* width */
$desctope-width: 1200px;
$tablet-width: 900px;
$mobile-width: 600px;
$banner-height: 120vh;

:root {
	/* fonts */
	--basci-font: 'Montserrat', 'Arial', sans-serif;

	/* colors */
	--bg: #F7F7F7;
	--grey-bg: #E5E5E5;
	--white-text-color: #FFFFFF;
	--text-primary: #141414;
	--text-secondary: #666666;
	--main-color: #1953CF;

	/* paddings */
	--standart-side-padding: 20px;
	--standart-section-top-padding: 120px;

	/* other */
	--section-titles-block-margin: 20px;

	/* typography */
	--typography-big-title-size: 50px;
	--typography-big-title-weight: 600;
	--typography-mobile-big-title-size: 40px;
	--typography-mobile-big-title-weight: 600;
	--typography-medium-title-size: 40px;
	--typography-medium-title-weight: 600;
	--typography-mobile-medium-title-size: 30px;
	--typography-mobile-medium-title-weight: 600;
	--typography-smal-title-size: 20px;
	--typography-smal-title-weight: 500;
	--typography-mobile-smal-title-size: 20px;
	--typography-mobile-smal-title-weight: 600;
	--typography-xsmal-title-size: 12px;
	--typography-xsmal-title-weight: 600;
	--typography-big-text-size: 18px;
	--typography-big-text-weight: 500;
	--typography-primary-text-size: 16px;
	--typography-primary-text-weight: 400;
	--typography-secondary-text-size: 15px;
	--typography-secondary-text-weight: 400;
	--typography--text-size: 16px;
	--typography--text-weight: 400;
}
