@import '../../variables/variables';

.about-slider {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 400px;
	user-select: none;
}

.about-slider__swiper {
	width: 100%;
	height: 100%;
}

.about-slider__wrapper {
	list-style: none;
}

.about-slider__slide {
	max-width: 500px;

	@media (max-width: $mobile-width) {
		max-width: 300px;
	}
}

.about-slider__image {
	display: flex;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-slider__controls {
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(-50%);
	gap: 40px;

	@media (max-width: $tablet-width) {
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		clip: rect(0 0 0 0);
	}
}
