@import '../../variables/variables';

.gallery {
	padding: var(--standart-section-top-padding) var(--standart-side-padding);
	background-color: var(--bg);
}

.gallery__wrap {
	display: grid;
	grid-row-gap: 40px;
	grid-template-columns: 1fr;
}

.gallery__titles {
	display: grid;
	grid-gap: var(--section-titles-block-margin);
	grid-template-columns: 1fr;
	width: 100%;
}

.gallery__title {
	color: var(--text-primary);
}

.gallery__slogan {
	color: var(--text-primary);
}
